{% extends 'base.html.twig' %}

{% block title %}Votre profil Veggie&Cook
{% endblock %}

{% block body %}
<div class="row mt-5 w-100">
	<div class="col-md-6 mx-auto text-center">
		<h1 class="my-5 mt-4 recipes-title">Profil</h1>
		<h2 class="mt-3 title-page">
			Vos informations
		</h2>
		<div class="row">
			<div class="col-md-6">
				<h6>Votre nom</h6>
				<p>
					{{ app.user.fullName }}
				</p>
			</div>
			<div class="col-md-6">
				<h6>Votre adresse e-mail</h6>
				<p>
					{{ app.user.email }}
				</p>
			</div>
		</div>
        <div class="row">
			<div class="col-md-6">
				<h6>Parmis nous depuis le :</h6>
				<p>
					{{ app.user.createdAt ? app.user.createdAt|date('d/m/Y') : '' }}
				</p>
			</div>
			<div class="col-md-6">
				<h6>Modifier le mot de passe</h6>
				<p>
					<a href="{{ path('app_account_change_password') }}" class="btn" style="background-color: #EE8F40;"> Réinitialiser le mot de passe </a>
				</p>
			</div>
		</div>
        <hr>
		<h4 class="mt-5 title-page">
			Vos recettes
		</h4>
		{% for row in app.user.recipes|batch(4) %}
			<div class="row mb-5 d-flex justify-content-center">
				{% for recipe in row %}
					<div class="col-md-4 m-6">
						<article class=" mt-3 bg-light rounded shadow recipe-box">
							<div class="mv-100 overflow-hidden">
								<a href="{{ path('recipe_show', {'id': recipe.id}) }}">
								<img src="{{ asset ('/uploads/recipes/' ~ recipe.imageName )}}" alt="" class="recipe-img w-100 rounded-top" style=" width: 200px; height: 250px">
								</a>
								<h4>{{ recipe.name }}
								</h4>
								<a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn mt-2 mb-3" style="background-color: #d4ffb0;">Voir la recette</a>
								<a href="#" onclick="event.preventDefault(); confirm('Etes-vous sûre de vouloir supprimer cette recette ?') && document.getElementById('js-recipe-delete-form').submit();" class="btn mb-2 btn-delete">Supprimer</a>
            						<form id="js-recipe-delete-form" action="{{ path('recipe_delete', {id: recipe.id}) }}" method="post" class="btn" style="display: none;">
            						    <input type="hidden" name="csrf_token" value="{{ csrf_token('recipe_deletion_' ~ recipe.id) }}">
            						    <input type="hidden" name="_method" value="DELETE">
            						</form>
							</div>
						</article>
					</div>
				{% else %}
					<p class="h2 text-center mt-5">Il n'y a pas encore de recette.
						<a href="{{ path('recipe_new') }}" </a> Partage une recette !</p> </section> {% endfor %} </div> </div> {% endfor %} {% endblock %}
