{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

	<div class="row recipe-show mt-5">
		<div class="col-md-8 mx-auto">
            <h1 class="text-center mt-3 recipes-title">Editer : {{ recipe.name }}</h1>

            <div class="col-md-8">
                {{ include('recipe/_form.html.twig', {'button_label': 'Update'}) }}
                <br/>
                {{ include('recipe/_delete_form.html.twig') }}
            <a href="{{ path('app_home') }}" class="btn mt-1 mb-1" style="background-color: #d4ffb0;">Retour</a>
            </div>

        </div>
    </div>
{% endblock %}
