{% extends 'base.html.twig' %}

{% block title %}Veggie&Cook
{% endblock %}

{% block body %}

<div class="header">
	<h2>La vrai cuisine est une forme d'art. Un cadeau à partager...</h2>
</div>


<section id="recette" class="recipe-section">
<h1 class="pb-4 recipes-title text-center pt-5">Les Recettes</h1>
	{% for row in recipes|batch(3) %}
		<div class="row recipe-section-row mb-5 d-flex justify-content-center">
			{% for recipe in row %}
				<div class="col-md-3 m-4">
					<article class="rounded shadow ">
						<div class="row recipe-cat rounded">
						<h5 class="col-8 d-left ">{{recipe.category}}</h5>
						</div>
						<div class="mv-100 overflow-hidden">
							<a href="{{ path('recipe_show', {'id': recipe.id}) }}">
								{# <img src="{{ asset ('/uploads/recipes/' ~ recipe.imageName )}}" alt="" class="recipe-img"> #}
								<img src="{{ (recipe.imageName ? vich_uploader_asset(recipe) | imagine_filter('squared_thumbnail_medium')) }}" alt="{{ recipe.name }}" class="recipe-img w-100 rounded-top">
							</a>
							<h5 class="mt-2">{{ recipe.name }}</h5>
							<a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn mb-3" style="background-color: #d4ffb0;">Plus de détails</a>
							{# <a href="{{ path('recipe_edit', {'id': recipe.id}) }}" class="btn" style="background-color: #d6c0d8;">Modifier</a> #}
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
{% else %}
	<p class="h2 text-center">Il n'y a pas encore de recette.
		<a href="{{ path('recipe_new') }}"</a> Sois le premier !</p> </section> 
{% endfor %} 
{% endblock %} 